/* background-image: linear-gradient(90deg,#f85d7f,#e100ff 36%,#6b81fa 68%,#a0fbcd); */
* {
    margin: 0;
    padding:0;
    border: 1px solid white; 
    /* background-color: black; */
}

body{
    font-family: "Roboto", sans-serif;
}

.parallax{
    background-image: url(/images/2018_07_18-Pentacrest\ Sunset\ Timelapse-ksmurray-0165.jpeg); 

    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* /* background-size: cover;
    max-width:100%; */
    height:100vh;     
    /* height: 100%;
    object-fit: contain; */
    /* image-rendering: auto; */



    /* Create the parallax scrolling effect */


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* image-rendering: auto; */
    /* height: fit-content;
    width: fit-content; */
}

/* HEADER */
header{
    /* background-color: #1F2937; */
    padding-bottom: 150px;

}

.logo{
    font-size: 35px;
    margin-left: 200px;
    padding-top: 20px;
    font-weight: 700;
    color: #F9FAF8;
}

/* NAV */



/* -------- */

/* Add a black background color to the top navigation */
.navlist {
    /* background-color: #333; */
    overflow: hidden;
  }
  

.nav {
    display:flex;
    justify-content: space-between;
    /* background-image: linear-gradient(to bottom, rgb(0, 115, 255),#02aedc); */
}

.navlist{
    display: flex;
    margin-right: 200px;
    margin-top: 31px;
}

.navitems{
    color: #E5E7Eb;
    list-style-type: none;
    font-size: 18px;
    display: flex;    
    gap:20px;
} 

/* .between-nav-header{
    /* border-image: linear-gradient(to right, darkblue, darkorchid) 1;; */
/* }  */

.image-div{
    padding-top: 150px;
}

.container-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-block: 100px;
    /* background: linear-gradient(); */
}

.profile-pic {
    width: 250px;
    height: 250px;
    border: 10px solid white;
    /* border-image: linear-gradient(to right, darkblue, darkorchid) 1; */
    object-fit: cover;
    /* margin-left: auto; */
    border-radius: 50%;
}

.body-header1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
}

.body-header2{
    margin-block: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

/* about section */

.about{
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}